@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/Login.css" />
<div class="form-container">
    <p class="title">Login</p>
    <form class="form" id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="input-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" id="username" placeholder="">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="input-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" id="password" placeholder="">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <button type="submit"  class="sign">Log in</button>
    </form>
    <div class="social-message">
        <div class="line"></div>
        <p class="message">Login with social accounts</p>
        <div class="line"></div>
    </div>
    <div class="social-icons">
        <a href="https://greenwich.edu.vn/">
            <button aria-label="Log in with Google" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 fill-current">
                    <path d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z"></path>
                </svg>
            </button>
        </a>
        <a href="https://www.facebook.com/GreenwichVietnam/">
            <button aria-label="Log in with FaceBook" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
            </button>
        </a>
        <a href="https://www.youtube.com/%C4%91%E1%BA%A1ih%E1%BB%8Dcgreenwichvi%E1%BB%87tnam">
            <button aria-label="Log in with Youtobe" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
            </button>
        </a>
    </div>
    <br/>
    <p class="signup">
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        <br/>
        <br/>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
         <br/>
        <br/>
        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}