.btn-delete {
  background-color: #EE0000;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgb(225, 16, 16);
}

.btn-delete:hover {
  background-color: #EE0000;
  box-shadow: 0 4px 8px rgb(255, 6, 6);
}