.btn-update {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgb(0, 156, 204);
}

.btn-update:hover {
  background-color: #0062cc;
  box-shadow: 0 4px 8px rgb(6, 186, 248);
}
