.btn-update {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-update:hover {
  background-color: #0062cc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
