@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EnterpriseProject.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - EnterpriseProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="UnAuthenticated" asp-controller="Home" asp-action="Index">EnterpriseProject</a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                     @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                     {
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" asp-area="UnAuthenticated" asp-controller="Home" asp-action="Index" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Home
                             </a>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <ul class="list-unstyled">
                                     <li>
                                         <a class="dropdown-item" asp-area="Authenticated" asp-controller="UsersManagement" asp-action="index">UsersManagement</a>
                                     </li>
                                     <li>
                                         <a class="dropdown-item" asp-area="Authenticated" asp-controller="Department" asp-action="index">Department</a>
                                     </li>
                                     <li>
                                         <a class="dropdown-item" asp-area="Authenticated" asp-controller="Categories" asp-action="index">Category</a>
                                     </li>
                                     <li>
                                         <a class="dropdown-item" asp-area="Authenticated" asp-controller="Topics" asp-action="index">Topics</a>
                                     </li>
                                 </ul>
                             </div>
                             
                         </li>
                     }
                     @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager) || User.IsInRole(SD.Role_Staff))
                     {
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="Authenticated" asp-controller="Topics" asp-action="index">Topics</a>
                         </li>
                     }
                     @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                     {
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="Authenticated" asp-controller="Statistics" asp-action="index">Statistics</a>
                         </li>
                     }
                </ul>
            </div>
            <partial name="_LoginPartial"/>
        </div >
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
       &copy; @DateTime.Now.Year - EnterpriseProject
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>