@model EnterpriseProject.ViewModels.UserVM

@{
    Layout = "_Layout";
}

<h1>Update User</h1>
<form method="post">
    <input asp-for="ApplicationUser.Id" class="form-control" hidden>
    <div class="mb-3">
        <label asp-for="ApplicationUser.FullName" class="form-label"></label>
        <input asp-for="ApplicationUser.FullName" class="form-control">
        <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ApplicationUser.PassportID" class="form-label"></label>
        <input asp-for="ApplicationUser.PassportID" class="form-control">
        <span asp-validation-for="ApplicationUser.PassportID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ApplicationUser.PhoneNumber" class="form-label"></label>
        <input asp-for="ApplicationUser.PhoneNumber" class="form-control">
        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ApplicationUser.Birthday" class="form-label"></label>
        <input asp-for="ApplicationUser.Birthday" class="form-control">
        <span asp-validation-for="ApplicationUser.Birthday" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ApplicationUser.Address" class="form-label"></label>
        <input asp-for="ApplicationUser.Address" class="form-control">
        <span asp-validation-for="ApplicationUser.Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Role" class="form-label"></label>
        @Html.DropDownListFor(m => m.Role, Model.Rolelist, "Please select role", new { @class = "form-control" })
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Department</label>
        @Html.DropDownListFor(m => m.DepartmentId, Model.Departmentlist, "Please select Department", new { @class = "form-control" })
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="button" class="btn btn-primary" onclick="history.back();" value="Back">
</form>