.button-back-to-list {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #00BFFF; /* Đổi màu nền sang xanh nước biển */
  box-shadow: 0px 5px 10px rgba(0, 117, 153, 0.4);
  transition: background-color 0.3s ease;
}

.button-back-to-list:hover {
  background-color: #87CEEB; /* Đổi màu khi hover */
}

.button-back-to-list:active {
  background-color: #00BFFF; /* Đổi màu khi active */
  box-shadow: none;
}