@{
    ViewData["Title"] = "Home Page";
	Layout = "_Layout-home";
}

<div>
    <link rel="stylesheet" href="~/css/home.css" />
    <div class="fullscreen-image">
        <img src="~/images/image1-6.png"/>
        <div class="overlay-text">
            <h1 class="text-dark">Welcome to the Idea website</h1>
            <a class="btn btn-outline-light border-0 text-dark" asp-area="Authenticated" asp-controller="Topics" asp-action="index"><i class="fa-sharp fa-solid fa-forward-fast"> Access To Topics</i></a>
        </div>
    </div>
</div>