.button-create {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #0033FF;
  box-shadow: 0px 5px 10px rgba(0, 51, 255, 0.4);
  transition: background-color 0.3s ease;
}

.button-create:hover {
  background-color: #00BFFF; /* Màu xanh nhạt khi hover */
}

.button-create:active {
  background-color: #0066CC; /* Màu xanh nhạt khi click */
  box-shadow: none;
}

.button-create i {
  margin-right: 5px; /* Để tách icon và text nút */
  vertical-align: middle; /* Để căn giữa icon */
}