@using EnterpriseProject.Utility
@model IEnumerable<EnterpriseProject.Models.Department>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-4">
        <h1>Department Table</h1>
    </div>
    <div class="col-8">
        <a asp-controller="Department" asp-action="Upsert" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp;Create New Department</a>
        <form class="form-inline my-2 my-lg-0 float-right">
            <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody id="tblData">
    <form method="get" asp-action="Index" asp-controller="Department">
    </form>
    
    @foreach (var obj in @Model)
    {
        <tr>
            <th scope="row">@obj.Id</th>
            <td>@obj.Name</td>
            <td>
                <a asp-controller="Department" asp-action="Upsert" asp-route-id="@obj.Id" style="color: #FFD700; font-size: 25px" class="btn-outline"><i class="fa-solid fa-pen-to-square"></i></a>
                <a asp-controller="Department" asp-action="Delete" asp-route-id="@obj.Id" onclick="return confirm('Do you want to delete')" style="color: #c82333; font-size: 25px" class="btn-outline"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
         $(document).ready(function (){
             $("#myInput").on("keyup", function(){
              var value = $(this).val().toLowerCase();
             $("#tblData tr").filter(function (){
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
         });
     });
    </script>
}